// COLORS
$color-primary: #176b87;
$color-primary-light: #64ccc5;
$color-primary-dark: #053b50;

$color-seconday-light: #b66eff;
$color-seconday-dark: #5c00b8;

$color-tertiary-light: #ffc069;
$color-tertiary-dark: #bd6e00;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;
